
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="http://betterthanguessing.com/xmlrpc.php">

<title>NBA Game Predictions</title>

<meta name="description" content="What are the odds the home team will win? Updated NBA game predictions every day of the basketball season!"/>
<link rel="canonical" href="http://betterthanguessing.com/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="NBA Game Predictions" />
<meta property="og:description" content="What are the odds the home team will win? Updated NBA game predictions every day of the basketball season!" />
<meta property="og:url" content="http://betterthanguessing.com/" />
<meta property="og:site_name" content="NBA Game Predictions" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="What are the odds the home team will win? Updated NBA game predictions every day of the basketball season!" />
<meta name="twitter:title" content="NBA Game Predictions" />


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/style.css" type='text/css' />
<link rel="shortcut icon" type="image/jpg" href="/images/basketball.png"/>
</head>

<body>

<div id="container" class="container">
        <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;, font-size: 10 rem;">
            <a class="navbar-brand py-3" href="/">NBA Game Predictions</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="accuracy.html">Accuracy</a>
                </li>
              </ul>
            </div>
          </nav>

<div id="content" class="container">
	<br>
<p>BetterThanGuessing.com is dedicated to help you understand the odds of your favorite team winning an upcoming match. To help you judge how good recent NBA predictions have been, here&#8217;s some <span style="text-decoration: underline;"><a href="accuracy.html">accuracy stats</a></span>.</p>
<p>This table will update every time there are same-day games (if there are no games today the table will show most recent predictions).</p>
<p style="text-align: center;">

    
        <div class="col-lg-12 col-sm table-responsive-sm">
            <table class="table table-sm table-striped table-hover">
                <thead style="background-color: #e3f2fd;">
                <tr>
                    <th>Game Date</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Home Win Probability</th>
                </tr>
                </thead>
                
                <tr>
                    <td>2021-02-27 19:00</td>
                    <td>Philadelphia 76ers</td>
                    <td>Cleveland Cavaliers</td>
                    <td>88.87%</td>

                </tr>
                
                <tr>
                    <td>2021-02-27 19:00</td>
                    <td>Washington Wizards</td>
                    <td>Minnesota Timberwolves</td>
                    <td>45.64%</td>

                </tr>
                
                <tr>
                    <td>2021-02-27 20:00</td>
                    <td>New York Knicks</td>
                    <td>Indiana Pacers</td>
                    <td>39.2%</td>

                </tr>
                
                <tr>
                    <td>2021-02-27 20:00</td>
                    <td>Oklahoma City Thunder</td>
                    <td>Denver Nuggets</td>
                    <td>50.28%</td>

                </tr>
                
                <tr>
                    <td>2021-02-27 20:00</td>
                    <td>Orlando Magic</td>
                    <td>Utah Jazz</td>
                    <td>58.64%</td>

                </tr>
                
                <tr>
                    <td>2021-02-27 20:00</td>
                    <td>San Antonio Spurs</td>
                    <td>New Orleans Pelicans</td>
                    <td>59.38%</td>

                </tr>
                
                <tr>
                    <td>2021-02-27 20:30</td>
                    <td>Brooklyn Nets</td>
                    <td>Dallas Mavericks</td>
                    <td>61.06%</td>

                </tr>
                
                <tr>
                    <td>2021-02-28 15:30</td>
                    <td>Milwaukee Bucks</td>
                    <td>LA Clippers</td>
                    <td>74.69%</td>

                </tr>
                
                <tr>
                    <td>2021-02-28 19:00</td>
                    <td>Boston Celtics</td>
                    <td>Washington Wizards</td>
                    <td>66.45%</td>

                </tr>
                
                <tr>
                    <td>2021-02-28 19:00</td>
                    <td>Toronto Raptors</td>
                    <td>Chicago Bulls</td>
                    <td>71.76%</td>

                </tr>
                
                <tr>
                    <td>2021-02-28 20:00</td>
                    <td>Detroit Pistons</td>
                    <td>New York Knicks</td>
                    <td>70.58%</td>

                </tr>
                
                <tr>
                    <td>2021-02-28 20:00</td>
                    <td>Houston Rockets</td>
                    <td>Memphis Grizzlies</td>
                    <td>79.22%</td>

                </tr>
                
                <tr>
                    <td>2021-02-28 20:00</td>
                    <td>LA Lakers</td>
                    <td>Golden State Warriors</td>
                    <td>61.0%</td>

                </tr>
                
                <tr>
                    <td>2021-02-28 20:00</td>
                    <td>Miami Heat</td>
                    <td>Atlanta Hawks</td>
                    <td>89.38%</td>

                </tr>
                
                <tr>
                    <td>2021-02-28 21:00</td>
                    <td>Minnesota Timberwolves</td>
                    <td>Phoenix Suns</td>
                    <td>45.96%</td>

                </tr>
                
                <tr>
                    <td>2021-02-28 22:00</td>
                    <td>Sacramento Kings</td>
                    <td>Charlotte Hornets</td>
                    <td>63.26%</td>

                </tr>
                
                <tr>
                    <td>2021-03-01 19:00</td>
                    <td>Orlando Magic</td>
                    <td>Dallas Mavericks</td>
                    <td>64.53%</td>

                </tr>
                
                <tr>
                    <td>2021-03-01 19:00</td>
                    <td>Philadelphia 76ers</td>
                    <td>Indiana Pacers</td>
                    <td>77.77%</td>

                </tr>
                
                <tr>
                    <td>2021-03-01 20:00</td>
                    <td>New Orleans Pelicans</td>
                    <td>Utah Jazz</td>
                    <td>26.61%</td>

                </tr>
                
                <tr>
                    <td>2021-03-01 20:30</td>
                    <td>San Antonio Spurs</td>
                    <td>Brooklyn Nets</td>
                    <td>60.06%</td>

                </tr>
                
                <tr>
                    <td>2021-03-01 21:00</td>
                    <td>Chicago Bulls</td>
                    <td>Denver Nuggets</td>
                    <td>30.77%</td>

                </tr>
                
                <tr>
                    <td>2021-03-01 21:00</td>
                    <td>Houston Rockets</td>
                    <td>Cleveland Cavaliers</td>
                    <td>90.41%</td>

                </tr>
                
                <tr>
                    <td>2021-03-01 22:30</td>
                    <td>Portland Trail Blazers</td>
                    <td>Charlotte Hornets</td>
                    <td>69.36%</td>

                </tr>
                
                <tr>
                    <td>2021-03-02 19:00</td>
                    <td>Washington Wizards</td>
                    <td>Memphis Grizzlies</td>
                    <td>38.73%</td>

                </tr>
                
                <tr>
                    <td>2021-03-02 19:30</td>
                    <td>Boston Celtics</td>
                    <td>LA Clippers</td>
                    <td>46.1%</td>

                </tr>
                
                <tr>
                    <td>2021-03-02 19:30</td>
                    <td>Miami Heat</td>
                    <td>Atlanta Hawks</td>
                    <td>89.38%</td>

                </tr>
                
                <tr>
                    <td>2021-03-02 19:30</td>
                    <td>Toronto Raptors</td>
                    <td>Detroit Pistons</td>
                    <td>78.06%</td>

                </tr>
                
                <tr>
                    <td>2021-03-02 20:30</td>
                    <td>San Antonio Spurs</td>
                    <td>New York Knicks</td>
                    <td>76.06%</td>

                </tr>
                
                <tr>
                    <td>2021-03-02 21:00</td>
                    <td>Milwaukee Bucks</td>
                    <td>Denver Nuggets</td>
                    <td>78.14%</td>

                </tr>
                
                <tr>
                    <td>2021-03-02 22:00</td>
                    <td>LA Lakers</td>
                    <td>Phoenix Suns</td>
                    <td>67.66%</td>

                </tr>
                
                <tr>
                    <td>2021-03-03 19:00</td>
                    <td>Cleveland Cavaliers</td>
                    <td>Indiana Pacers</td>
                    <td>40.49%</td>

                </tr>
                
                <tr>
                    <td>2021-03-03 19:00</td>
                    <td>Philadelphia 76ers</td>
                    <td>Utah Jazz</td>
                    <td>67.66%</td>

                </tr>
                
                <tr>
                    <td>2021-03-03 19:30</td>
                    <td>Houston Rockets</td>
                    <td>Brooklyn Nets</td>
                    <td>75.74%</td>

                </tr>
                
                <tr>
                    <td>2021-03-03 20:00</td>
                    <td>Minnesota Timberwolves</td>
                    <td>Charlotte Hornets</td>
                    <td>51.92%</td>

                </tr>
                
                <tr>
                    <td>2021-03-03 20:00</td>
                    <td>New Orleans Pelicans</td>
                    <td>Chicago Bulls</td>
                    <td>34.86%</td>

                </tr>
                
                <tr>
                    <td>2021-03-03 20:00</td>
                    <td>Orlando Magic</td>
                    <td>Atlanta Hawks</td>
                    <td>85.54%</td>

                </tr>
                
                <tr>
                    <td>2021-03-03 20:30</td>
                    <td>Dallas Mavericks</td>
                    <td>Oklahoma City Thunder</td>
                    <td>66.13%</td>

                </tr>
                
                <tr>
                    <td>2021-03-03 22:00</td>
                    <td>Portland Trail Blazers</td>
                    <td>Golden State Warriors</td>
                    <td>57.14%</td>

                </tr>
                
                <tr>
                    <td>2021-03-03 22:00</td>
                    <td>Sacramento Kings</td>
                    <td>LA Lakers</td>
                    <td>25.1%</td>

                </tr>
                
                <tr>
                    <td>2021-03-04 19:00</td>
                    <td>Boston Celtics</td>
                    <td>Toronto Raptors</td>
                    <td>40.79%</td>

                </tr>
                
                <tr>
                    <td>2021-03-04 19:00</td>
                    <td>Washington Wizards</td>
                    <td>LA Clippers</td>
                    <td>24.99%</td>

                </tr>
                
                <tr>
                    <td>2021-03-04 19:30</td>
                    <td>New York Knicks</td>
                    <td>Detroit Pistons</td>
                    <td>44.36%</td>

                </tr>
                
                <tr>
                    <td>2021-03-04 20:00</td>
                    <td>Indiana Pacers</td>
                    <td>Denver Nuggets</td>
                    <td>55.76%</td>

                </tr>
                
                <tr>
                    <td>2021-03-04 20:00</td>
                    <td>Memphis Grizzlies</td>
                    <td>Milwaukee Bucks</td>
                    <td>24.78%</td>

                </tr>
                
                <tr>
                    <td>2021-03-04 20:30</td>
                    <td>New Orleans Pelicans</td>
                    <td>Miami Heat</td>
                    <td>27.88%</td>

                </tr>
                
                <tr>
                    <td>2021-03-04 21:00</td>
                    <td>San Antonio Spurs</td>
                    <td>Oklahoma City Thunder</td>
                    <td>66.5%</td>

                </tr>
                
                <tr>
                    <td>2021-03-04 22:00</td>
                    <td>Phoenix Suns</td>
                    <td>Golden State Warriors</td>
                    <td>43.97%</td>

                </tr>
                
                <tr>
                    <td>2021-03-04 22:00</td>
                    <td>Portland Trail Blazers</td>
                    <td>Sacramento Kings</td>
                    <td>66.79%</td>

                </tr>
                
            </table>
        </div>
    

</p>
<h4 id="methodology" style="text-align: left;"><strong>How to read the table:</strong></h4>
<p style="padding-left: 30px;">Each row is an upcoming match. The "Home Win Probability" columns shows the odds that the Home Team will win: if it's over 50%, the model thinks the answer is "yes". If it's below 50%, the model thinks the Away Team will win the match. Game Date is given in Eastern time (EST).</p>
<hr />
<p>Every day during the sports season you’ll find new up-to-date win predictions.
<p>Better Than Guessing uses machine learning to predict the result of NBA basketball games. The objective is to be better than random guessing, and provide some insight into how close or lop-sided a match is expected to be. Some <span style="text-decoration: underline;"><a href="accuracy.html">helpful stats</a></span> on the model&#8217;s track record and history are provided to help you judge the accuracy of its historical output.</p>

</div><!-- .page-content -->
</div><!-- .page-wrapper -->
</body>
</html>